.primary-color {
  background-color: #e60a58;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body i {
  cursor: pointer;
}

.page-content {
  background-image: url("/Flower/images/flower-twenty-five.jpeg");
  background-position: center;
  background-size: cover;
  margin-top: 32px;
}

.nav-belt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  position: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #e9e9e9;
}
.nav-belt img {
  height: 25px;
}

.nav-fill ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.name-blank {
  position: fixed;
  margin-top: 100px;
  background-color: #f5dbdf;
  height: 75px;
  display: none;
  padding-top: 40px;
  width: 350px;
  z-index: 1;
}

.name-input {
  height: 35px;
  width: 60%;
  border: none;
  outline: none;
}

.nav-belt ul li {
  padding: 15px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.nav-belt ul li:hover {
  color: #e60a58;
}

.nav-right button {
  border: 0;
  background-color: transparent;
  padding-right: 12px;
  cursor: pointer;
}

.nav-right :hover {
  color: #e60a58;
}

.nav-right button :hover {
  color: #e60a58;
}

.nav-left {
  padding-left: 80px;
}

.nav-right {
  padding-right: 80px;
}

.nav-right button i {
  font-size: 15px;
}

.page-description {
  padding-top: 225px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 225px;
}

.top-trend-label {
  background-color: #e60a58;
  color: white;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 11px;
}

.shop-now-button {
  color: white;
  border: none;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.home-header {
  font-size: 50px;
  margin-top: 4px;
  margin-bottom: -5px;
}

.home-page-content p {
  font-size: 13px;
  margin-bottom: 30px;
  color: grey;
}

.home-page-content {
  margin-bottom: 30px;
  margin-right: 235px;
  width: 500px;
}

.page-description i {
  margin-top: 95px;
  font-size: 27px;
}

#left-arrow {
  margin-left: 29px;
  cursor: pointer;
}

#right-arrow {
  margin-right: 29px;
  cursor: pointer;
}

.dots-page-swipe {
  display: none;
}

.nav-tools {
  vertical-align: middle;
}

.nav-tools i {
  vertical-align: middle;
}

.top-product {
  grid-area: header;
}
.sub-product-one {
  grid-area: menu;
}
.sub-product-two {
  grid-area: main;
}
.sub-product-three {
  grid-area: right;
}
.sub-product-four {
  grid-area: footer;
}

.product-container {
  display: grid;
  grid-template-areas:
    "header header header menu menu menu main main"
    "header header header right right footer footer footer";
  gap: 20px;
  background-color: white;
  padding: 30px;
  height: 550px;
}

.top-product {
  padding-left: 11px;
  background-image: url("/Flower/images/light-rose-.jpg");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-product-one {
  background-image: url("/Flower/images/flowers-in-pot.jpg");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-product-three {
  background-image: url("/Flower/images/flower-gift.jpg");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-product-two {
  background-image: url("/Flower/images/red-rose.jpg");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-product-four {
  background-image: url("/Flower/images/three-roses.jpg");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-label {
  background-color: white;
  text-align: center;
  width: 86px;
  height: 38px;
}

.product-type {
  font-size: 10px;
  margin-bottom: 0px;
  font-weight: bold;
  margin-top: 8px;
}

.product-stock {
  margin-top: 0px;
  font-size: 9px;
  color: #e60a58;
}

.featured-products-header {
  text-align: center;
}

.cart-quantity {
  border: 1px solid lightgray;
  padding: 0px 5px;
  font-size: 10px;
}

.remove-cart i {
  visibility: hidden;
}

.cart-area li:hover .remove-cart i {
  visibility: visible;
  color: gray;
}
.pots-one {
  display: flex;
  justify-content: center;
}

.pots-one img {
  width: 200px;
  height: 200px;
}

.pots-two img {
  width: 200px;
  height: 200px;
}

.fav {
  height: 300px;
  overflow: auto;
}
.trash {
  cursor: pointer;
}

.cart-area {
  /* background-image: linear-gradient(to right, #e9e9e9, #f7f6eb); */
  background-color: white;
  width: 30%;
  position: fixed;
  overflow: auto;
  height: 400px;
  top: 90px;
  right: 5px;
  display: none;
  z-index: 1;
  border-radius: 10px;
  padding: 0 40px;
  border: 1px solid lightgray;
}

.cart-area ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.remove-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e60a58;
  font-weight: bold;
  font-size: 13px;
  padding-bottom: 7px;
}

.imagePriceDiv {
  display: flex;
  flex-direction: column;
}

.cart-area li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.cart-price {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

.cart-product-count {
  position: absolute;
  top: 20px;
  height: 15px;
  width: 15px;
  color: white;
  background: #e60a58;
  border-radius: 11px;
  font-size: 10px;
  font-weight: bold;
  right: 151px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameQuantity {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-left: -20%;
}

.cart-area img {
  width: 70px;
  border: 1px solid #efb7e3;
  border-radius: 5px;
}

.total-price::before {
  content: "$";
}
.total-price {
  margin-left: -50%;
}

.list i {
  display: flex;
  align-items: center;
}

.total {
  display: flex;
  justify-content: space-between;

  font-weight: bolder;
  align-items: center;
  height: 40px;
  padding-top: 5px;
}

.price {
  text-align: center;
}

.price span {
  font-weight: bold;
  font-size: 12px;
}

#block-one {
  text-align: center;
}

#block-two {
  font-weight: bold;
  font-size: 12px;
}

#rating-block-one i {
  color: #e60a58;
  font-size: 13px;
}

.ratings {
  color: #e60a58;
}

.pots-two {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.next-page-dots {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.old-price {
  text-decoration: line-through;
  color: #585858;
}

.price-adjustment {
  display: flex;
  justify-content: space-evenly;
}

.price-adjustment i:hover {
  color: #e60a58;
}

.products-grid:first-child {
  grid-area: s1;
}
.products-grid:nth-child(2) {
  grid-area: s2;
}
.products-grid:nth-child(3) {
  grid-area: s3;
}
.products-grid:nth-child(4) {
  grid-area: s4;
}

.products-grid:nth-child(5) {
  grid-area: s5;
}

.products-grid:nth-child(6) {
  grid-area: s6;
}
.products-grid:nth-child(7) {
  grid-area: s7;
}
.products-grid:last-child {
  grid-area: s8;
}

.products-grid {
  display: grid;
  grid-template-areas: "s1 s2 s3 s4";
  gap: 20px;
  background-color: white;
  padding: 30px;
  margin: 1% 1% 1% 10%;
}

.products-grid img {
  width: 100%;
}

.block {
  position: relative;
  overflow: hidden;
  width: 70%;
}

.featured-products-header h5 {
  font-size: 30px;
  word-spacing: 10px;
}

.featured-products-header h6 {
  font-size: 20px;
  margin-bottom: -33px;
  letter-spacing: 2px;
}

.featured-products {
  margin-top: 40px;
}

.dots i {
  font-size: 10px;
  color: #e60a58;
}

.great-vibes {
  font-family: "Great Vibes", cursive;
  color: #e60a58;
}

.cart-header {
  text-align: center;
  margin-top: 15px;
  border-bottom: 1px solid lightgray;
  height: 10%;
}

.cart-header i {
  float: right;
  padding: 0 10px 0 0;
}

.cart-header i:hover {
  color: #e60a58;
}

.cart-header span {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
}

.slab {
  font-family: "Slabo 27px", serif;
}

.dod-container {
  display: flex;
  justify-content: center;
}

.dod-container img {
  width: 95%;
  height: 550px;
}

.dod-header {
  position: absolute;
  margin-top: 55px;
}

.deal-image-background {
  opacity: 0.8;
}
.product-deal-container {
  margin-top: 65px;
}

.deadline {
  height: 58px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

sub.signature {
  vertical-align: baseline;
}

.dod-header h4 {
  text-align: center;
  font-size: 32px;
  font-family: "Slabo 27px", serif;
  word-spacing: 8px;
  letter-spacing: 3px;
}

.signature {
  font-size: 10px;
  color: #b8b8b8;
}

.colon {
  color: #b8b8b8;
  font-size: 20px;
  margin: 7px;
}

.number {
  font-size: 30px;
  color: #545454;
}

.dod-products {
  position: absolute;
  margin-top: 321px;
}

.product img {
  width: 300px;
  height: 300px;
}

.dod-top-products {
  display: flex;
  justify-content: center;
}

.dod-top-products .product {
  margin: 15px;
  position: relative;
  overflow: hidden;
}

.more-products {
  margin-top: 230px;
  display: flex;
  justify-content: center;
}

.histor-container {
  margin-top: 65px;
}

.history-content-container {
  text-align: center;
}

.story-line {
  font-family: "Great Vibes", cursive;
  color: #e60a58;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: -10px;
  letter-spacing: 3px;
}

.history-content-container h2 {
  font-family: "Josefin Slab", serif;
  font-size: 80px;
  letter-spacing: 0px;
  margin-top: 33px;
  margin-bottom: 35px;
}

.sub-description {
  font-weight: bold;
  line-height: 25px;
}

.history-description {
  color: #585858;
  line-height: 27px;
}

.history-bottom img {
  height: auto;
  width: 100%;
}

.history-bottom {
  display: flex;
  justify-content: space-evenly;
  margin-top: 65px;
}

.offer-product {
  width: 30%;
}

.review-card {
  text-align: center;
}

.person-image {
  margin-top: 55px;
}

.person-image img {
  border-radius: 80px;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(196, 184, 196, 1);
  -moz-box-shadow: 0px 0px 6px 1px rgba(196, 184, 196, 1);
  box-shadow: 0px 0px 6px 1px rgba(196, 184, 196, 1);
}

.letter-content p {
  line-height: 25px;
  font-family: "Roboto", sans-serif;
  color: #585858;
}

.person-name {
  color: #e60a58;
  font-size: 13px;
  font-weight: bold;
}

.customer {
  font-size: 13px;
  color: #585858;
}

.customer-review {
  margin-top: 90px;
}

.letter-content {
  margin-top: 55px;
}

.card-tittle h2 {
  letter-spacing: 2px;
  font-family: "Slabo 27px", serif;
  font-size: 35px;
}

.mail-box {
  height: 220px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 70px;
}

.mail-box-content p {
  font-size: 13px;
  margin-bottom: 22px;
  color: #585858;
}

.mail-box-content h2 {
  font-size: 30px;
  margin-bottom: 0;
  font-family: "Slabo 27px", sans-serif;
  letter-spacing: 2px;
}

.subscribe-button {
  background-color: #555555;
  color: white;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.mail-box input {
  height: 31px;
  width: 300px;
  border: none;
  border-bottom-style: inset;
  border-width: 1px;
  border-color: gray;
  background-color: transparent;
  margin-right: -4px;
  outline: none;
}

.latest-posts {
  margin-top: 85px;
}

.latest-post-header {
  text-align: center;
}

.latest-post-header h2 {
  letter-spacing: 2px;
  font-family: "Slabo 27px", serif;
  font-size: 35px;
}
.post img {
  width: 100%;
  height: auto;
}

.post-one-content h4 {
  font-size: 15px;
}

.post-description {
  font-size: 13px;
  color: #585858;
}

.read-more {
  font-size: 13px;
  color: #585858;
  padding-bottom: 30px;
}

.post-card {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.post {
  display: flex;
  flex-direction: column;
  margin-inline: 13px;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(196, 184, 196, 1);
  -moz-box-shadow: 0px 0px 6px 1px rgba(196, 184, 196, 1);
  box-shadow: 0px 0px 6px 1px rgba(196, 184, 196, 1);
  width: 30%;
}

.buy-button {
  background-color: #e71761;
  color: white;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
  float: right;
}

.post-content {
  display: flex;
  width: 260px;
  margin: 0 35px;
  flex-direction: column;
}

.date {
  font-size: 12px;
  color: #585858;
}
.date::before {
  content: "- ";
  color: #e60a58;
  font-size: 12px;
}

.read-more i {
  vertical-align: middle;
}

.blog {
  font-family: "Great Vibes", cursive;
  color: #e60a58;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: -10px;
  word-spacing: 4px;
}

.brands img {
  width: 18%;
  padding-right: 10px;
}

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  background: #f8f8f8;
}

.footer-block {
  height: 300px;
  background: #1b1b1b;
}

.footer-text {
  color: white;
  font-size: 13px;
  line-height: 20px;
}

.information img {
  width: 140px;
  margin-top: 15px;
}

.information button {
  width: 36px;
  height: 36px;
  border-radius: 21px;
  background-color: #1b1b1b;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  margin-right: 10px;
  cursor: pointer;
}

.information i {
  font-size: 14px;
  color: white;
}

.information {
  color: white;
  font-size: 13px;
  margin: 25px;
}

.footer-row {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.copy-rights {
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight {
  color: #e60a58;
  font-size: 10px;
}

.normal {
  color: white;
  font-size: 10px;
}

.footer {
  margin-top: 90px;
}

.brand-logos {
  padding-left: 5%;
}

.sale {
  position: absolute;
  top: -67px;
  right: -65px;
  width: 90px;
  height: 90px;
  transform: rotate(45deg);
  background: #e60a58;
  padding: 10px;
  color: white;
  align-items: end;
  font-size: 11px;
  display: flex;
  justify-content: center;
}

.sale-label {
  position: absolute;
  top: -67px;
  left: -65px;
  width: 90px;
  height: 90px;
  transform: rotate(-45deg);
  background: #e60a58;
  padding: 10px;
  color: white;
  align-items: end;
  font-size: 11px;
  display: flex;
  justify-content: center;
}

.pot-color {
  position: absolute;
  top: 186px;
  right: 50px;
}

.pot-color-zero {
  position: absolute;
  top: 186px;
  right: 83px;
}

#yellow {
  color: yellow;
}

#gray {
  color: #585858;
}

#violet {
  color: violet;
}

#brown {
  color: brown;
}

#blue {
  color: blue;
}

.infos-one {
  display: flex;
}

.add-button {
  cursor: pointer;
  border: none;
  background: #e60a58;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  margin-left: 3px;
}
